* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif; 
    background-color: black;   
    color: white;
    overflow-x: hidden;
}


.home_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 2vh 2vw;
    background-image:url("assets/img/seraphinbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -999 ;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_contact_link {
    height: 5vh;
    padding: 0.75ch 1.5vw;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3 ease;
}

.nav_contact_link:hover {
    background-color: white;
    color: black;
}
.chuyentab{
    height: 5vh;
    padding: 0.75ch 1.5vw;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3 ease;
}
.chuyentab:hover{
    background-color: yellow;
    color: black;
}

a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: brown;
}
.intro video{
    width: 50%;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -130px;
}    
.intro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    transform: translate(0%, -200%);
    
}
#personal_details{
    text-align: left;
    transform: translateY(-45%);
    font-size: 200%;
    width: 100vw;
    height: 100vh;
    background-image:url('assets/img/ahribackground.jpg');
    background-size: cover;    
}
#CVstaff img{
 width: 33%;
 margin-right: 0;
 margin-left: 65%;
 transform: translate(-2%, -50%);
 height: fit-content;
}
#feedbacks {
    width: 100%;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    background-image: url("assets/img/leesin.jpg");
    background-size: cover;
    transform: translate(0,0%);
}
#feedbacks img{
    width: 10%;
    transform: translate(0, -170%);
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    transform: translate(0, -50%);
    
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }
#tuoi{
    transform: translate(-6.7%);
} 
#hovaten{
    transform: translate(-6.7%);
}
#linkface{
    transform:translate(-0.3%)
}
h1 {
    transform: translate(0,-420%);
}